<div class="form-container">
  <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
    <div class="form-group">
      <label for="newPassword">Enter New Password:</label>
      <div class="input-container">
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          [type]="showPassword ? 'text' : 'password'"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="eye-icon">
          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>
    </div>

    <button type="submit" [disabled]="!resetPasswordForm.form.valid">Reset Password</button>
  </form>

  <div *ngIf="message">
    <p>{{ message }}</p>
  </div>
</div>
