.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically in viewport */
  }
  
  .form-group {
    margin-bottom: 20px; /* Space between input and button */
  }
  
  .input-container {
    position: relative; /* For positioning the eye icon */
  }
  
  input {
    padding: 10px; /* Adjust padding as needed */
    width: 300px; /* Adjust width as needed */
  }
  
  .eye-icon {
    position: absolute;
    right: 10px; /* Adjust spacing as needed */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
  
  button[type="submit"] {
    padding: 10px 20px; /* Adjust padding as needed */
  }
  