<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onForgotPasswordSubmit()">
      <div class="form-group">
        <label for="email">Enter your Email:</label>
        <input
          type="email"
          [(ngModel)]="forgotPasswordEmail"
          name="email"
          class="form-input"
          placeholder="Enter your email here"
          required
        />
      </div>
      <button type="submit" class="submit-button">Submit</button>
      <div *ngIf="loading">Sending email... Please wait.</div>
    </form>
  </div>
  